/* Our CSS file. */


.container, .content {
    width: 100%;
    height: 100%;
    }
    div { position: fixed; width: 50%; height: 50% }
    #NW { top: 0;   left: 0}
    #NE { top: 0;   left: 50%}
    #SW { top: 50%; left: 0}
    #SE { top: 50%; left: 50%}
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        }